:root {
    --main-clr: #3d4dc5;
    --secondary-clr: #b6dbf7;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--secondary-clr);
}

#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(santo-dom.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
}

.frame {
    max-width: 95%;
    margin: 10px auto;
    background-color: white;
}

section {
    min-height: 700px;
    text-align: center;
}

section div {
    margin: 20px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
}

.flex-center {
    place-items: center;
}

footer {
    background-color: var(--main-clr);
    color: white;
    min-height: 400px;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 80px;
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
}

h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    margin: 10px 0px;
    color: var(--main-clr);
    letter-spacing: 2px;
}

footer h4 {
    color: white;
}

footer h5 {
    max-width: 35ch;
}

h5 {
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0px;
    width: 50ch;
}

#hero h4 {
    padding-top: 150px;
    margin: 50px 0px;
}

#hero h2 {
    margin: 50px 0px;
}

#about,
#gallery,
#cafe {
    padding-top: 150px;
}

a,
a:focus,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    color: white;
}

.btn {
    background-color: white;
    color: var(--main-clr) !important;
    padding: 15px 30px;
    transition: 0.4s ease;
}

.btn:focus,
.btn:hover {
    background-color: var(--main-clr);
    color: white;
}

.btn {
    border: 4px solid var(--main-clr);
}

#hero .btn {
    border: none;
}

img {
    max-width: 500px;
}

.card {
    max-width: 100%;
    padding: 30px;
    border: 0.5px solid var(--secondary-clr);
    border-radius: 20px;
}

@media (max-width: 1131px) {
    .flex {
        flex-wrap: wrap;
    }

    h1 {

        font-size: 68px;
    }

    h2 {
        font-size: 32px;
    }

    h4 {

        font-size: 20px;
    }

    footer h5 {
        max-width: 35ch;
    }

    h5 {
        font-size: 12px;
    }

    img {
        width: 85%;
        margin: 0 auto;
    }

    section {
        min-height: fit-content;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}